/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
/*
=============== 
Variables
===============
*/
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-gold: #c59d5f;
  --clr-black: #222;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

main {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

body header {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(63, 208, 212, 0.5)), to(rgba(0, 0, 0, 0.7))), url(./hero-bcg.jpeg) center/cover no-repeat;
  background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)), url(./hero-bcg.jpeg) center/cover no-repeat;
}

body header .nav {
  background: var(--clr-white);
  padding: 1rem 1.5rem;
}

@media screen and (min-width: 800px) {
  body header .nav .nav_center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

body header .nav .nav_center .nav_center-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header .nav .nav_center .nav_center-header .header_logo {
  height: 50px;
}

body header .nav .nav_center .nav_center-header .header_btn {
  background: transparent;
  border: transparent;
  color: var(--clr-grey-1);
  cursor: pointer;
  font-size: 1.5rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

@media screen and (min-width: 800px) {
  body header .nav .nav_center .nav_center-header .header_btn {
    display: none;
  }
}

body header .nav .nav_center .nav_center-links {
  height: 0;
  overflow: hidden;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

@media screen and (min-width: 800px) {
  body header .nav .nav_center .nav_center-links {
    height: auto !important;
  }
}

@media screen and (min-width: 800px) {
  body header .nav .nav_center .nav_center-links .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

body header .nav .nav_center .nav_center-links .links li a {
  background: var(--clr-white);
  color: var(--clr-grey-5);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
  display: block;
}

@media screen and (min-width: 800px) {
  body header .nav .nav_center .nav_center-links .links li a {
    color: var(--clr-white);
    background: transparent;
    text-transform: capitalize;
    font-size: 1.1rem;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
    display: block;
    letter-spacing: var(--spacing);
  }
}

body header .nav .nav_center .nav_center-links .links li a:hover {
  color: var(--clr-secondary);
}

body header .nav .nav_center .show_links {
  height: 300px;
}

@media screen and (min-width: 800px) {
  body header .nav {
    background: transparent;
  }
}

body header .fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  -webkit-box-shadow: var(--light-shadow);
          box-shadow: var(--light-shadow);
}

body header .fixed-nav .nav_center .nav_center-links .links li a {
  color: var(--clr-grey-1);
}

body header .fixed-nav .nav_center .nav_center-links .links li a:hover {
  color: var(--clr-secondary);
}

body header .banner {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
}

body header .banner .container h1 {
  color: var(--clr-white);
  text-transform: uppercase;
}

body header .banner .container p {
  color: var(--clr-white);
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}

body header .banner .container .banner_link {
  color: var(--clr-white);
  border-radius: 0;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  background: transparent;
  letter-spacing: var(--spacing);
  display: inline-block;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-white);
  cursor: pointer;
}

body header .banner .container .banner_link:hover {
  background: var(--clr-white);
  color: var(--clr-secondary);
}

body section {
  height: 80vh;
  padding-bottom: 5rem;
}

body section .title h2 {
  text-align: center;
  text-transform: capitalize;
}

body section .title span {
  color: var(--clr-secondary);
}

body .services {
  background: var(--clr-white);
}

body footer {
  padding-bottom: 5rem;
  background: var(--clr-grey-1);
  padding: 5rem 1rem;
}

body footer p {
  color: var(--clr-white);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 0;
}

body .scroll_link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--clr-secondary);
  width: 2rem;
  height: 2rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--clr-white);
  -webkit-animation: bounce 2s ease-in-out infinite;
          animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}

body .top_link {
  visibility: visible;
  z-index: 100;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=index.css.map */